<%= flash[:create] %>
<%= flash[:updateb] %>
<%= render 'usernewbook', newbook: @newbook, user: @user %>

<h2>Book detail</h2>
<h3>Title</h3>
<h3>Opinion</h3>
<div>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
  <p>投稿ユーザー画像：
    <%= link_to user_path(@book.user.id) do %>
      <%= image_tag @book.user.get_profile_image(100,100) %></p>
    <% end %>
  <p>
    <%= link_to user_path(@book.user.id) do %>
      <%= @book.user.name %>
    <% end %>
  </p>
  <% if @book.user == current_user %>
    <p class="btn btn-success"><%= link_to "Edit", edit_book_path(@book.id.to_s) %></p>
    <p class="btn btn-danger"><%= link_to "Destroy", book_path(@book), method: :delete %></p>
  <% end %>

</div>